<div class="page-header page-header-with-buttons">
 <h1 class="pull-left">
   <i class="icon-edit"></i>
   <span>Edit Team</span>
 </h1>
</div>



<div class="box">
  <%= render :partial => 'form' %>	
</div>