<div class="alert alert-info">
	<h3>Play with your friends!</h3>
	<p>You still have not registered for any poll. You can either create a new one or join an existing one.</p>

	<div class="poll_menu">
		<%= link_to "Create a new poll", new_poll_path, :class => "btn" %>
		<%= link_to "Join an existing poll", join_path, :class => "btn" %>
	</div>
</div>