<h1>The Football Poll!</h1>

<% if current_user %>
  Signed in as <strong><%= current_user.name %></strong>!
  <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <p><%= link_to "Invite your Facebook friends", "#", class: "btn btn-primary fb-invite" %> and compete in your own league!</p>
<% else %>
  <p>Sign up and bet on game results, invite your Facebook friends and compete in your own league!</p>

  <p><%= link_to "Sign in with Facebook!", "/auth/facebook", id: "sign_in", :class => "btn btn-success btn-large" %></p>
<% end %>
