<h1>The Football Poll!</h1>
<p>Sign up and bet on game results, invite your Facebook friends and compete in your own league!</p>


<p><%= link_to "Sign up or login with Facebook!", :class => "btn btn-success btn-large" %></p>