<h2>Admin Overview</h2>

<p>Welcome to the Matrix!</p>

<h3>Menu</h3>

<div class="row">
	<div class="span4">

		<ul class="nav nav-list">
			<li><%= link_to "Edit cups, rounds or games", cups_path %></li>
			<li><%#= link_to "Enter results", :controller => "games", :action => "result_index"%></li>
			<li><%= link_to "Teams edit", teams_path %></li>
			<li><%= link_to "User edit", users_path %></li>
			<li><%= link_to "Polls edit", polls_path %></li>
			<li><%#= link_to "Posts edit", posts_path %></li>
		</ul>
	</div>
	<div class="span8">
	</div>
</div>
<br>