<div class="row">
	<%# if user_signed_in? %>
			<div class="span8" id="user_news">
				<% if @user && @user.polls.nil? %>
					<%= render 'shared/poll_menu' %>
					<%= render 'news' %>
				<% else %>
					<%#= render 'poll_news' %>
				<% end %>
			</div>
	<%# else %>
		<div class="span8" id="welcome">
			<div class="hero-unit">
				<%= render 'welcome' %>
			</div>
		</div>
	<%# end %>

	<div class="span4">
		<%= render 'next_games' %>
	</div>

</div>



