<div class="page-header page-header-with-buttons">
 <h1 class="pull-left">
   <i class="icon-dashboard"></i>
   <span>Página Principal</span>
 </h1>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissable"><%= value %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>
<div class="row box box-transparent"></div>

<% if @games.empty? %>
				
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link red-background">
	    <a href="/polls/new">
	      <div class="header">
	        <div class="icon-plus-sign-alt"></div>
	      </div>
	      <div class="content">Crear polla</div>
	    </a>				    
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link green-background">
	    <a href="/join">
	      <div class="header">
	        <div class="icon-group"></div>
	      </div>
	      <div class="content">Unirme a una polla</div>
	    </a>				    
	  </div>
	</div>

<% else %>

	<% current_user.polls.each do |poll| %>
	  <div class="col-xs-4 col-sm-2">
	    <div class="box-quick-link blue-background">
	      <a href="/polls/<%= poll.id %>">
	        <div class="header">
	          <div class="icon-group"></div>
	        </div>
	        <div class="content"><%=poll.name%></div>
	      </a>				    
	    </div>
	  </div>
	<% end %>

<% end %>
