<div class="page-header page-header-with-buttons">
 <h1 class="pull-left">
   <i class="icon-legal"></i>
   <span>Reglas de juego</span>
 </h1>
</div>
<div class="row-fluid">
	<li class="lead"><strong>Acierto pleno:</strong> 4 puntos. <strong>Ej.</strong> predicción 2:1 - marcador final 2:1</li>
	<li class="lead"><strong>Acierto al ganador:</strong> 1 punto. <strong>Ej.</strong> predicción 2:1 - marcador final 2:0</li>
	<li class="lead"><strong>Acierto a diferencia de goles:</strong> 1 punto. <strong>Ej.</strong> predicción 2:1 - marcador final 1:0</li>
	<li class="lead"><strong>Puntos de bonificación:</strong> 1 punto addicional para acierto pleno si hay 5 ó mas goles en el partido.</li>					

	<li class="lead"><strong>Máximo número de puntos por partido - 5:</strong> Los aciertos plenos ya incluyen puntos por ganador y diferencia de goles.</li>					
</div>
