<div class="content-header">	
  <div class="row-fluid">
    <h2 id="main_title">
      <a id="menu-toggle" href="#" class="btn btn-mini"><i class="icon-align-justify"></i></a>
      Reglas de juego
	</h2>		
  </div>
  <p></p>
  <div class="row-fluid">
	<li class="lead"><strong>Acierto pleno:</strong> 4 puntos. <strong>Ej.</strong> predicci贸n 2:1 - marcador final 2:1</li>
	<li class="lead"><strong>Acierto al ganador:</strong> 1 punto. <strong>Ej.</strong> predicci贸n 2:1 - marcador final 2:0</li>
	<li class="lead"><strong>Acierto a diferencia de goles:</strong> 1 punto. <strong>Ej.</strong> predicci贸n 2:1 - marcador final 1:0</li>
	<li class="lead"><strong>Puntos de bonificaci贸n:</strong> 1 punto addicional para aciertos plenos o diferencia de goles si hubo mas de 5 goles en el partido.</li>					
	<br />
	<li class="lead"><strong>Ejemplos:</strong> 1 punto addicional para aciertos plenos o diferencia de goles si hubo mas de 5 goles en el partido.</li>						
  </div>
</div>	
