<%- model_class = Poll -%>
<div class="page-header">
  <h1>
    <a id="menu-toggle" href="#" class="btn btn-mini"><i class="icon-align-justify"></i></a>
	Editar Polla
  </h1>
</div>
<%= render :partial => 'form' %>
