#ranking_chart {
  height: 250px;  
}

#cup_logo_new_poll {
  width: 50px;
  height: 50px;
}

#new_poll_radio {
  margin-left: 10px;	
}

#cup_choice {
  width: 70px;	
  height: 70px;	
}

#team_logo_mini {
  width: 15px;
  height: 15px;
  margin-bottom: 0px;
  font-size: 12px;
}

#results {
  font-size: 11px;	
  text-align: center;   
  vertical-align: middle;
}
#partidos {
  font-size: 13px;
}

#team_logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0px;
  font-size: 12px;
}

.header {
  background: #5daf2b;
  color: #fff;
}

#partidos th:nth-child(1) {
	text-align: center;   
}
#partidos th:nth-child(2) {
	text-align: right;   
}
#partidos th:nth-child(3) {
	text-align: center;   
}
#partidos th:nth-child(4) {
	text-align: left;   
}
#partidos th:nth-child(5) {
	text-align: center;   
}
#partidos th:nth-child(6) {
	text-align: center;   
}
#partidos td:nth-child(1) {
  vertical-align: middle;
  text-align: center;   
}
#partidos td:nth-child(2) {
  text-align: right;   
  vertical-align: middle;
}
#partidos td:nth-child(3) {
  text-align: center;   
  vertical-align: middle;
}
#partidos td:nth-child(4) {
  vertical-align: middle;
  text-align: left;   
}
#partidos td:nth-child(5) {
  text-align: center;   
}
#partidos td:nth-child(6) {
  vertical-align: middle;
  text-align: center;   
}


#brand_logo {
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
}

#cup_logo_main {
  width: 90px;
  height: 90px;
  margin-bottom: 0px;
}

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #3abf1a 0%, #118d56 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3abf1a), color-stop(100%,#118d56)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #3abf1a 0%, #118d56 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #3abf1a 0%,#118d56 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #3abf1a 0%,#118d56 100%); /* IE10+ */
  background: linear-gradient(45deg,  #3abf1a 0%,#118d56 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
@-webkit-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
@-moz-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}

#sign_in {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
  -webkit-animation-name: downloadButton;
     -moz-animation-name: downloadButton;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

/* Marketing section of Overview
-------------------------------------------------- */
.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing h1 {
  margin: 60px 0 10px;
  font-size: 40px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.marketing h2 {
  font-weight: 200;
  margin-bottom: 5px;
}
.marketing p {
  font-size: 16px;
  line-height: 1.5;
}

.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}
.marketing img {
  display: block;
  margin: 0 auto 30px;
}
p {
        font: 13px/1.7em 'Open Sans', arial, sans-serif;
}
h1 {
        margin-bottom: .25em;
}
h2 {
        margin-bottom: .5em;
        color: #4A515B;
}
h3 {
        margin-bottom: .75em;
        font-weight: 600;
        color: #F90;
}
h4, h5, h6 {
        margin-bottom: 1.25em;
        color: #666;
}
hr {
        border-top-color: #DDD;
}
input {
        font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

